---
import CarImage from './CarImage.astro';
import CarImages from './CarImages.astro';

const { name, make, model, images } = Astro.props;
---
<h1 class="visually-hidden">{name}</h1>
<CarImages>
  {images.map(({ path }) => (
    <CarImage name={name} make={make} model={model} imagePath={path} />
  ))}
</CarImages>
