---
import Image from './Image.astro';
import Images from './Images.astro';
import Name from './Name.astro';
import Details from './Details.astro';

const { name, make, model, year, images, ...rest } = Astro.props;
---
<div class="car">
  <Images>
    {images.map(({ path }) => (
      <Image name={name} make={make} model={model} imagePath={path} />
    ))}
  </Images>
  <Name name={name} year={year} />
  <Details {...rest} />
</div>
